@tailwind base;
@tailwind components;
@tailwind utilities;
@layer body {
	::-webkit-scrollbar {
		padding: 0.5rem;
		left: -100px;
		width: 0.1rem;
		border-radius: 10rem;
		height: 10px;
		width: 6px;
		@apply bg-background;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-primary;
		border-radius: 5rem;
		padding: 0.5rem;
		margin: 0.5rem;
		border: solid 2px transparent;
	}
}
body {
	font-family: "Inter", sans-serif;
}
.scrollbar-none {
	overflow-x: auto; /* or scroll if you always want the scrollbar to be visible */
	scrollbar-width: none; /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
	/* Chrome, Safari and Edge */
	display: none;
}
